@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-size: 16px;
  font-weight: normal;
  overflow-x: hidden;
  background-color: #fff;
}

ul{
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.logo a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  color: black; 
  text-decoration: none; 
}

.logo span {
  font-weight: 600;
  color: #007BFF; 
}

.logo span:first-child {
  color: #000000; 
}

.container{
  max-width: 1140px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.navbar{
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 25px;
}

.navbar .menu .nav-item{
  display: inline-block;
  position: relative;
  margin-left: 36px;
}

.navbar .menu .nav-item .nav-link{
  color: white;
  font-size: 16px;
  font-weight: 600;
  display: block;
  text-transform: capitalize;
  padding: 10px 0;
}

.navbar .menu .nav-item .nav-link span{
  width: 0;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
}

.navbar .menu .nav-item .nav-link span::before{
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  left: 110%;
}

.navbar .menu .nav-item .nav-link span::after{
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  left: 140%;
}

.navbar .nav-item > .nav-link.active span,.navbar .nav-item:hover > .nav-link span{
  opacity: 1;
  visibility: visible;
  width: 60%;
}

.navbar .nav-item > .nav-link.active span::before,.navbar .nav-item:hover > .nav-link span::before{
  width: 20%;
}

.navbar .nav-item > .nav-link.active span::after,.navbar .nav-item:hover > .nav-link span::after{
  width: 15%;
}

.home-section{
  position: relative;
  background-color: #f7f7f7;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 80px;
}

.social-media{
  position: absolute;
  top: 53%;
  left: 50px;
  transform: translateY(-53%);
  border: 1px solid black;
  border-radius: 50px;
}

.social-media li a{
  font-size: 18px;
  display: block;
  text-align: center;
  padding: 20px 15px;
  color: rgba(100,111,135,0.58);
  transition: all 0.3s ease-out 0s;
}

.social-media li a:hover{
  color: black;
}

.home-section .home-text, .home-section .home-image{
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 25px;
}

.home-section .home-text h4{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4px;
  color: #000000;
}

.home-section .home-text h1{
  font-size: 50px;
  font-weight: 700;
  margin-top: 15px;
  color: #000000;
}

.home-section .home-text span{
  font-size: 18px;
  line-height: 28px;
  color: black;
  font-weight: 500;
  display: block;
  margin-top: 15px;
}

.home-section .home-text p{
  font-size: 16px;
  color: #000000;
  font-weight: 24px;
  margin-top: 15px;
}

.home-section .home-text .btn{
  display: inline-block;
  margin-top: 15px;
}

.home-section .home-image .img-box img{
  position: relative;
  width: 100%;
  z-index: 789;
}

.header-myPhoto-shape{
  position: absolute;
  top: 0;
  right: 0;
  width: 42%;
  height: 100%;
}

.header-myPhoto-shape::before{
  position: absolute;
  content: "";
  width: 1000%;
  height: 100%;
  background: linear-gradient(120deg, #1E2A38, #000);
  transform: skewX(20deg);
  top: 0;
  left: 0;
}

img{
  vertical-align: middle;
}